<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : I18n.t("app") %></title>
    <%= favicon_link_tag asset_path('icon.png'), :rel => 'icon', :type => "image/x-icon" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="navigation_bar">
      <%= render 'shared/navbar' %>
    </div>

    <div class="container text-center user-details">
      <div id="loader"></div>
      <%= yield %>
    </div>
    <%= render '/shared/bootstrap_modal', locals: {header: I18n.t("sign_up")} %>
  </body>

</html>
